[submodule "Box2D"]
    path = Box2D
    url = https://github.com/erincatto/Box2D
[submodule "bullet3"]
    path = bullet3
    url = https://github.com/bulletphysics/bullet3
[submodule "enet"]
    path = enet
    url = https://github.com/lsalzman/enet
[submodule "fann"]
    path = fann
    url = https://github.com/libfann/fann
[submodule "glew"]
    path = glew
    url = https://github.com/nigels-com/glew
[submodule "glm"]
    path = glm
    url = https://github.com/g-truc/glm
[submodule "jansson"]
    path = jansson
    url = https://github.com/akheron/jansson
[submodule "msgpack-c"]
    path = msgpack-c
    url = https://github.com/msgpack/msgpack-c
[submodule "lua"]
    path = lua
    url = https://github.com/LuaDist/lua
[submodule "luajit"]
    path = luajit
    url = https://github.com/LuaDist/luajit
[submodule "openal-soft"]
    path = openal-soft
    url = https://github.com/kcat/openal-soft
[submodule "open-steamworks"]
    path = open-steamworks
    url = https://github.com/SteamRE/open-steamworks
[submodule "physfs"]
    path = physfs
    url = https://github.com/criptych/physfs.git
[submodule "mruby"]
    path = mruby
    url = https://github.com/mruby/mruby
[submodule "SDL"]
    path = SDL
    url = http://github.com/spurious/SDL-mirror
[submodule "SFML"]
    path = SFML
    url = https://github.com/SFML/SFML
[submodule "stb"]
    path = stb
    url = https://github.com/nothings/stb
[submodule "tinyxml2"]
    path = tinyxml2
    url = https://github.com/leethomason/tinyxml2
[submodule "libyaml"]
    path = libyaml
    url = https://github.com/yaml/libyaml
[submodule "discount"]
    path = discount
    url = https://github.com/Orc/discount
[submodule "Catch"]
    path = Catch
    url = https://github.com/philsquared/Catch
[submodule "MicroPather"]
    path = MicroPather
    url = https://github.com/leethomason/MicroPather
[submodule "curl"]
    path = curl
    url = https://github.com/curl/curl
[submodule "glad"]
    path = glad
    url = https://github.com/dav1dde/glad
[submodule "Chipmunk2D"]
    path = Chipmunk2D
    url = https://github.com/slembcke/Chipmunk2D
[submodule "glfw"]
    path = glfw
    url = https://github.com/glfw/glfw
[submodule "graphene"]
    path = graphene
    url = https://github.com/ebassi/graphene
[submodule "moonscript"]
    path = moonscript
    url = https://github.com/leafo/moonscript
[submodule "squirrel-lang"]
    path = squirrel-lang
    url = https://github.com/pfalcon/squirrel-lang
[submodule "imgui"]
    path = imgui
    url = https://github.com/ocornut/imgui
[submodule "CMake"]
    path = CMake
    url = https://github.com/Kitware/CMake
[submodule "ninja"]
    path = ninja
    url = https://github.com/ninja-build/ninja
[submodule "lyd"]
    path = lyd
    url = https://github.com/hodefoting/lyd
[submodule "premake"]
    path = premake
    url = https://github.com/premake/premake-core
[submodule "ttvfs"]
	path = ttvfs
	url = https://github.com/fgenesis/ttvfs
[submodule "lpeg"]
	path = lpeg
	url = https://github.com/LuaDist/lpeg
[submodule "nuklear"]
	path = nuklear
	url = https://github.com/vurtun/nuklear
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt/
[submodule "clara"]
	path = clara
	url = https://github.com/philsquared/clara
[submodule "sodium"]
	path = sodium
	url = https://github.com/jedisct1/libsodium
[submodule "manymouse"]
	path = manymouse
	url = https://github.com/NoobsArePeople2/manymouse
